/* link font family  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}



.btn-primary{
    padding: 20px 25px;
    color: #fff;
    font-family: Work Sans;
    background-color: #FF900E;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    margin: 1rem 0rem;
}



/* Main css start  */


header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 3rem 10rem;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color:#131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}


nav > ul{
    display: flex;

}

nav ul li{
    margin-right: 1.8rem;
    list-style: none;
    font-family: work Sans;
    font-size: 1.1rem;
    font-weight: 500;
    
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}


/* Banner css style  */


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.brand-title{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
     font-weight: 700;
     margin-top: 8rem;
    
}

.brand-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.2rem 0rem;
}


.banner-img{
    width: 100%;
    
}






/* main section css start  */

main{
    max-width:1220px;
    margin: 70px auto;
}

.tems-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tems-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}



.tems-content{
    padding: 0px 70px;
}


/* team title style  */

.team-title{
    font-size: 2.813rem;
    font-family: Work Sans;

}

.list{
    color:#727272);
    font-family: Work Sans;
    font-weight: 500;
    
}

.our{
    color: #131313);
    font-family: Work Sans;
    font-weight: 700;
    
    
}

.feat{
    color: #FF900E;
    font-family: Work Sans;
     font-weight: 700;

}


.team-description{

    color:#727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */  
      margin: 1rem 0rem;
}


/* feature-container */


.feature-container{
    margin: 70px 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}




.feauter-content{
    margin-top: 3rem;
    /* padding-right: 100px; */
}


.feauter-title{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.813rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
      
}
/* 
.feauter-title::before{
    content: "|";
    width: 3px;
    height: 106px;
    background-color: #FF900E;;
    color: #FF900E;;
    margin-right: 0.3rem;
} */

.feauter-des{
    color:#727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */  
    margin: 1.2rem 0rem; 
    
}


.feauter-box{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    margin-top: 2.5rem;
    
   
}

.box-s{
    padding: 2rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 0.2rem 0rem;
}

.box-s h2{
    color:#131313;
    font-family: Work Sans;
    font-size:1.2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
   
      
}
.box-s p{
    color:#727272;
    font-family: Work Sans;
    font-size:1rem;
    font-weight: 400;
      
}

.feauter-img{
    margin-left: 70px;
    position: relative;
}

.feauter-img img{
    /* width: 100%; */
}

.exprince{
    width: 150px;
    padding: 2.8rem 2.5rem;
    background-color: #FF900E;
    color: #fff;
    position: absolute;
    margin-top: -100px;
    margin-left: -50px;
}